@import '../../App.scss';

.topbar-container {
    border: 1px solid black;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-around;
}

.top-item {
    width: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $gray-200;
    border: 1px solid blue;
}

.item-pink-text {
    color: $pink-app;
    font-weight: 600;
}