$white-100: #ffffff;
$white-200: #F6F5F2;
$white-300: #F4F4F4;
$black-100: #2A2A2A;
$gray-50: #DEDEDE;
$gray-100: #BDBDBD;
$gray-200: #9F9F9F;
$gray-300: #808080;
$black-400: #3F3F40;
$pink-app: #F71963;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}